<div class="episode-details-image card-image">
  <img src="{{episode.podcast.image}}">

  {{play-controls
  withReplay=true
  replay=(action 'replay')
  play=(action 'play')
  pause=(action 'pause')
  isPlaying=isPlaying
  isPlayed=isPlayed
  }}

  {{mini-progress-bar progress=progress}}
</div>
<div class="card-content episode-details-text">
  <h2>{{episode.title}}</h2>
  <div class="secondary">
    <div class="date">{{format-date episode.publishedAt}}</div>
    <div class="duration">{{format-duration episode.duration}}</div>
  </div>
  <div class="description">
    {{{episode.fullDescription}}}
  </div>
</div>
