<div class="flex-row">
  <div class="flex-col sm12 md8 lg5">
    {{podcast-details podcast=model}}
  </div>

  <div class="flex-col sm12 md8 lg5">
    {{#if showSearchSpinner}}
      <div class="load-spinner-container">
        {{infinity-loader-spinner}}
      </div>
    {{else if isEpisodeListEmpty}}
      {{empty-search-results
      entity="episodes"
      searchQuery=searchQuery
      }}
    {{else}}
      {{episode-list episodes=episodes}}
    {{/if}}
  </div>

  <div class="flex-col sm12 md8 lg5">
    {{load-more
    model=episodes
    infinityLoad='infinityLoad'
    showSearchSpinner=showSearchSpinner
    }}
  </div>
</div>
