<div class="mini-wrapper">
  {{#if player.loading}}
    <div class="preloader-container">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  {{else}}

    {{play-controls
    withReplay=false
    isPlaying=player.isPlaying
    isPlayed=false
    play=(action 'play')
    pause=(action 'pause')
    }}

    <div class="title" {{action 'expandPlayer' on='click'}}>
      <span>{{player.playingEpisode.title}}</span>
      <p class="secondary">{{format-date player.playingEpisode.publishedAt}}</p>
    </div>
    <div class="expand-button">
      <a href="#!" class="expand-player" {{action 'expandPlayer' on='click'}}>
        <i class="material-icons">expand_less</i>
      </a>
    </div>
    <img src="{{player.playingEpisode.podcast.image}}">
  {{/if}}
</div>
{{#if player.loading}}
{{else}}
  {{mini-progress-bar progress=player.progress}}
{{/if}}
