<div class="mini-wrapper">
  {{#if player.loading}}
    {{loading-spinner size='small'}}
  {{else}}
    {{play-controls
    withReplay=false
    isPlaying=player.isPlaying
    isPlayed=false
    play=(action 'play')
    pause=(action 'pause')
    }}
    <div class="title" {{action 'expandPlayer' on='click'}}>
      <span>{{player.playingEpisode.title}}</span>
      <p class="secondary">{{format-date player.playingEpisode.publishedAt}}</p>
    </div>
    <div class="expand-button">
      <a class="expand-player" {{action 'expandPlayer' on='click'}}>
        <i class="material-icons">expand_less</i>
      </a>
    </div>
    <img src="{{player.playingEpisode.podcast.image}}">
  {{/if}}
</div>
{{#if (not player.loading)}}
  {{mini-progress-bar progress=player.progress}}
{{/if}}
